* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  max-width: 1500px;
  margin: 0 auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 3px solid rgb(17, 134, 56);
  width: 20%;
  height: 60vh;
  padding: 20px;
  margin-left: 40px;

  /* background-color: red; */
}

.tasks-title {
  /* background-color: red; */
  display: flex;
  justify-content: center; /* Added to center horizontally */
  align-items: center; /* Added to center vertically */
  padding: 10px;
  width: 100%;
  margin: 0 auto;
}

.all-tasks {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.list-items {
  margin-top: 20px;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: circle;
  width: 100%;
  /* background-color: red; */
}

.list-item {
  border: 2px solid red;
}
